@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$navy: rgb(21, 54, 116);
$blue:  rgb(28, 104, 218);
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #454640;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$beige-lightest: rgba(239, 240, 235, 0.5);

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $navy;
$link: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lightest;
$body-color: $grey-dark;
$control-border-width: 2px;

// Box
$box-background-color: $body-background-color;

// Forms
$input-shadow: none;
$input-border-color: $brown;
$input-background-color: $beige-lightest;
$input-disabled-color: $grey-dark;
$input-disabled-border-color: transparent;
$input-disabled-background-color: $beige-lightest;


// Navbar
$navbar-background-color: $beige-lighter;

//Footer
$footer-background-color: $beige-lighter;
$footer-padding: 0.25rem;


// Import only what you need from Bulma
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/tabs.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/layout/footer.sass";
@import "~bulma/sass/grid/columns.sass";

//or all
//@import "~bulma/css/bulma";